# Data Description
- Background: Add game ID 413150's price.
- date received: 20251007
- Path to data file: https://steamdb.info/app/413150/charts/
- Unit of observation: 116
- Sample period: 20160226-20251007
- Known issues:
    - Missing value of final price in row 116
- Definition for each variable: 
    - DateTime: Discount date and time.
    - Final price: Discount price.
    - Historical Low: Lowest price before discount date.

In [2]:
import pandas as pd

## Change for Your Own Data

In [ ]:
input_data_file = "/Users/sofia/Downloads/413150_price.csv"

## Summary

In [4]:
df = pd.read_csv(input_data_file)

### Sample

In [5]:
df.head(10)

              DateTime  Final price  Historical Low
0  2016-02-26 18:10:10        398.0             398
1  2016-06-23 21:22:33        318.0             318
2  2016-07-04 18:05:34        398.0             318
3  2016-11-23 20:43:31        266.0             266
4  2016-11-30 11:23:52        398.0             266
5  2016-12-01 18:05:52        266.0             266
6  2016-12-03 18:31:58        398.0             266
7  2016-12-22 18:49:20        266.0             266
8  2017-01-02 18:31:58        398.0             266
9  2017-02-28 18:10:24        318.0             266

### Summary Stats

In [6]:
df.describe()

       Final price  Historical Low
count    115.00000      116.000000
mean     336.60000      220.163793
std       68.75979       30.882088
min      199.00000      199.000000
25%      272.50000      199.000000
50%      398.00000      199.000000
75%      398.00000      238.000000
max      398.00000      398.000000