# Data Description
- Background: Add all games' followers.
- date received: 20251007
- Path to data file: https://steamdb.info/app/413150/charts/
- Unit of observation: 68804
- Sample period: 20170904-20251013
- Definition for each variable: 
    - DateTime: Date of each observations.
    - Followers: Total followers of each game.

In [2]:
import pandas as pd

## Change for Your Own Data

In [3]:
followers = "/Users/sofia/Downloads/games_csv/all_followers.csv"

## Summary

In [4]:
df = pd.read_csv(followers)

### Sample

In [5]:
df.head(10)

              DateTime  Followers  GameID
0  2019-07-20 00:00:00     300772  814380
1  2019-07-21 00:00:00     300878  814380
2  2019-07-22 00:00:00     301045  814380
3  2019-07-23 00:00:00     301190  814380
4  2019-07-24 00:00:00     301300  814380
5  2019-07-25 00:00:00     301463  814380
6  2019-07-26 00:00:00     301613  814380
7  2019-07-27 00:00:00     301750  814380
8  2019-07-28 00:00:00     301902  814380
9  2019-07-29 00:00:00     302027  814380

### Summary Stats

In [6]:
df.describe()

          Followers        GameID
count  6.880500e+04  6.880500e+04
mean   4.174513e+05  4.506700e+05
std    4.352206e+05  2.910588e+05
min    5.800000e+02  1.000000e+01
25%    1.564550e+05  2.448500e+05
50%    2.910850e+05  4.131500e+05
75%    5.360720e+05  5.886500e+05
max    2.760883e+06  1.145360e+06