# Data Description
- Background: Add game ID 413150's followers.
- date received: 20251007
- Path to data file: https://steamdb.info/app/413150/charts/
- Unit of observation: 2271
- Sample period: 20190720-20251005
- Definition for each variable: 
    - DateTime: Date from 20190920 to 20251005 at 00:00:00.
    - Followers: Total followers.

In [1]:
import pandas as pd

## Change for Your Own Data

In [3]:
followers_413150 = "/Users/sofia/Downloads/413150_followers.csv"

## Summary

In [4]:
df = pd.read_csv(followers_413150)

### Sample

In [5]:
df.head(10)

              DateTime  Followers
0  2019-07-20 00:00:00     451896
1  2019-07-21 00:00:00     451977
2  2019-07-22 00:00:00     452137
3  2019-07-23 00:00:00     452272
4  2019-07-24 00:00:00     452404
5  2019-07-25 00:00:00     452553
6  2019-07-26 00:00:00     452663
7  2019-07-27 00:00:00     452783
8  2019-07-28 00:00:00     452947
9  2019-07-29 00:00:00     453082

### Summary Stats

In [6]:
df.describe()

          Followers
count    2271.00000
mean   671241.63100
std    149615.60146
min    451896.00000
25%    545122.00000
50%    650772.00000
75%    772989.00000
max    992158.00000