# Data Description
- Background: Add game ID 413150's players.
- date received: 20251007
- Path to data file: https://steamdb.info/app/413150/charts/
- Unit of observation: 5142
- Sample period: 20151201-20251007
- Known issues:
    - A lot of missing values.
- Definition for each variable: 
    - DateTime: Date from 20151201 to 20251007 at 00:00:00.
    - Players: Total players of the date.
    - Average Players: Average players before the date.

In [1]:
import pandas as pd

## Change for Your Own Data

In [ ]:
players_413150 = "/Users/sofia/Downloads/413150_players.csv"

## Summary

In [ ]:
df = pd.read_csv(players_413150)

### Sample

In [4]:
df.head(10)

              DateTime  Players  Average Players
0  2015-12-01 00:00:00      3.0              NaN
1  2015-12-02 00:00:00      NaN              NaN
2  2015-12-03 00:00:00      NaN              NaN
3  2015-12-04 00:00:00      NaN              NaN
4  2015-12-05 00:00:00      NaN              NaN
5  2015-12-06 00:00:00      NaN              NaN
6  2015-12-07 00:00:00      NaN              NaN
7  2015-12-08 00:00:00      NaN              NaN
8  2015-12-09 00:00:00      NaN              NaN
9  2015-12-10 00:00:00      NaN              NaN

### Summary Stats

In [5]:
df.describe()

             Players  Average Players
count    5121.000000      1811.000000
mean    46349.377661     56222.773606
std     34128.560067     21462.904613
min         1.000000     19406.000000
25%     18163.000000     38095.000000
50%     39118.000000     57082.000000
75%     64858.000000     67160.500000
max    236614.000000    191926.000000