# Data Description
- Background: Add all games' price.
- date received: 20251007
- Path to data file: https://steamdb.info/app/413150/charts/
- Unit of observation: 3711
- Sample period: 20151104-20251014
- Known issues:
    - Some missing values.
- Definition for each variable: 
    - DateTime: Date of price changing.
    - Final price: Discount price.
    - Historical Low: Lowest price before the date.
    - GameID: Game's ID.

In [1]:
import pandas as pd

## Change for Your Own Data

In [2]:
price = "/Users/sofia/Downloads/games_csv/all_price.csv"

## Summary

In [4]:
df = pd.read_csv(price)

### Sample

In [5]:
df.head(10)

              DateTime  Final price  Historical Low  GameID
0  2016-07-15 17:20:09        688.0           688.0  294100
1  2017-11-07 18:00:10        438.0           438.0  294100
2  2018-10-17 14:50:06        498.0           438.0  294100
3  2020-06-25 17:08:47        448.0           438.0  294100
4  2020-07-09 18:17:24        498.0           438.0  294100
5  2020-08-09 17:06:35        448.0           438.0  294100
6  2020-08-15 17:08:03        498.0           438.0  294100
7  2020-10-29 17:04:08        448.0           438.0  294100
8  2020-11-02 19:32:54        498.0           438.0  294100
9  2020-11-25 18:08:25        448.0           438.0  294100

### Summary Stats

In [6]:
df.describe()

       Final price  Historical Low        GameID
count  3682.000000     3700.000000  3.712000e+03
mean    350.836228      216.889446  4.456070e+05
std     294.088263      203.805338  2.678608e+05
min       0.000000        0.000000  1.000000e+01
25%     159.000000       73.000000  2.448500e+05
50%     318.000000      176.000000  4.131500e+05
75%     438.000000      279.000000  5.886500e+05
max    1834.000000     1834.000000  1.145360e+06