# Data Description
- Background: Add all games' reviews.
- date received: 20251007
- Path to data file: https://steamdb.info/app/413150/charts/
- Unit of observation: 95639
- Sample period: 20150513-20251013
- Definition for each variable: 
    - DateTime: Date of each observations.
    - Positive reviews: Total positive reviews before the date.
    - Negative reviews: Total negative reviews before the date.
    - GameID: Game's ID.

In [1]:
import pandas as pd

## Change for Your Own Data

In [2]:
reviews = "/Users/sofia/Downloads/games_csv/all_reviews.csv"

## Summary

In [3]:
df = pd.read_csv(reviews)

### Sample

In [4]:
df.head(10)

              DateTime  Positive reviews  Negative reviews  GameID
0  2017-05-18 00:00:00                31                -2  457140
1  2017-05-19 00:00:00               145                -9  457140
2  2017-05-20 00:00:00               405               -18  457140
3  2017-05-21 00:00:00               556               -35  457140
4  2017-05-22 00:00:00               686               -41  457140
5  2017-05-23 00:00:00               800               -48  457140
6  2017-05-24 00:00:00               880               -54  457140
7  2017-05-25 00:00:00               961               -58  457140
8  2017-05-26 00:00:00              1054               -63  457140
9  2017-05-27 00:00:00              1112               -64  457140

### Summary Stats

In [5]:
df.describe()

       Positive reviews  Negative reviews        GameID
count      9.564000e+04      95640.000000  9.564000e+04
mean       1.363240e+05     -10571.398547  4.069084e+05
std        1.953392e+05      24086.093019  2.667470e+05
min        2.000000e+00    -179359.000000  1.000000e+01
25%        1.578100e+04      -9022.000000  2.442100e+05
50%        5.972250e+04      -3831.000000  3.812100e+05
75%        1.630330e+05      -1320.750000  5.484300e+05
max        1.145217e+06          0.000000  1.145360e+06