# Data Description
- Background: Add game ID 413150's reviews.
- date received: 20251007
- Path to data file: https://steamdb.info/app/413150/charts/
- Unit of observation: 3501
- Sample period: 20160226-20250926
- Definition for each variable: 
    - DateTime: Date from 20160226 to 20250926 at 00:00:00.
    - Positive reviews: Total positive reviews before the date.
    - Negative reviews: Total negative reviews before the date.

In [1]:
import pandas as pd

## Change for Your Own Data

In [ ]:
reviews_413150 = "/Users/sofia/Downloads/413150_reviews.csv"

## Summary

In [ ]:
df = pd.read_csv(reviews_413150)

### Sample

In [4]:
df.head(10)

              DateTime  Positive reviews  Negative reviews
0  2016-02-26 00:00:00                 2                 0
1  2016-02-27 00:00:00               199                -3
2  2016-02-28 00:00:00               815               -12
3  2016-02-29 00:00:00              1434               -16
4  2016-03-01 00:00:00              2066               -24
5  2016-03-02 00:00:00              2812               -31
6  2016-03-03 00:00:00              3487               -41
7  2016-03-04 00:00:00              4133               -45
8  2016-03-05 00:00:00              4672               -54
9  2016-03-06 00:00:00              5222               -63

### Summary Stats

In [5]:
df.describe()

       Positive reviews  Negative reviews
count       3511.000000       3511.000000
mean      346198.953859      -6707.368841
std       270401.023400       4231.547836
min            2.000000     -14535.000000
25%        94520.000000     -10025.500000
50%       283844.000000      -6568.000000
75%       554614.000000      -2751.000000
max       919972.000000          0.000000